/*
CSS version 2.0
date de derniere modif : 25/10/2002 13h:52
par: Lucas Vaugrente & Théo Demany
detail:
Creation du squelette du CSS
*/

/*///////////////////////////////////////////////////////////////////////////////
Police de caractère:
///////////////////////////////////////////////////////////////////////////////*/

/*Police de logo*/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Police de titre*/
@font-face {
    font-family: 'carter';
    src: url('../fonts/carterOne/carterone-webfont.woff2') format('woff2'),
        url('../fonts/carterOne/carterone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Police de texte*/
@font-face {
    font-family: 'sniglet';
    src: url('../fonts/sniglet/sniglet-regular-webfont.woff2') format('woff2'),
        url('../fonts/sniglet/sniglet-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*//////////////////////////////////////////////////////////////////////////////////////////////
Header:
//////////////////////////////////////////////////////////////////////////////////////////////*/

/* HAUT DE PAGE */
.haut_de_page {
    background-color: #0869C8;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.haut_de_page h1 {
    margin: 0px 70px;
}

.haut_de_page h1 a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'montserrat';
}

.haut_de_page img {
    width: 2.5em;
    margin-right:  60px;
    filter: invert(100%);
}

.haut_de_page form {
    width: 80%;
    padding-left: 5%;
}

/* MENU BURGER */
.topnav {
    overflow: hidden;
    position: relative;
    margin-left: 1em;
    color: white;
    padding: 20px;
}

#myLinks,
#SubmyLinks {
    display: none;
}

#myLinks>a,
#SubmyLinks>a {
    border: solid;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    cursor: pointer;
}

.topnav a.icon {

    display: block;
    position: absolute;
    width: 50px;
}


/* STYLE CHAMP DE TEXTE (texte, mot de passe, email et date) */ 
input[type=text], input[type=password], input[type=email], input[type=date]{
    padding: 10px 10px;
    width: 20%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    box-sizing: border-box;
    border-radius: 10px;
}
/* STYLE the search field */
form.example input[type=search] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(143, 120, 120);
    float: left;
    width: 80%;
    background: #ffff;
    border-radius: 7px 0  0 7px  ;
}

button {
    background-color: #080854;
    color: #ffffff;
    width: 18%;
    padding: 10px 10px;
    border-radius: 40px;
    margin: 10px;
    font-family: 'sniglet';
}

/* Bouton de Validation */
form.example button {
    float: left;
    height: 42px;
    width: 5%;
    padding: 10px;
    background: white;
    color: #0b7dda;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 7px 7px 0;
    margin: 0;
}

form.example button:hover {
    background: #0b7dda;
    color: white;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/*Barre de navigation*/
.navbar {
    background-color: #5FB7F6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 2;
}

.navbar--liens {
    list-style: none;
    padding: 0.5em 5%;
    color: white;
    border-style: solid;
    border-right-width: 0.1em;
    border-left-width: 0.1em;
    border-color: #080854;
    text-align: center;
    width: 10%;
}

.navbar--liens a {
    color: white;
    padding: 0.5em;
}

/*////////////////////////////////////////////////////////////////////
Main:
///////////////////////////////////////////////////////////////////*/

/* Style d'écriture des titres h1 et h2 */
h1, h2{
    font-family: 'carter', Arial, Helvetica, sans-serif;
}

input, a, label {
    font-family: 'sniglet';
    color: black;
    text-decoration: none;
    font-weight: lighter;
}

/***********************************
Body POUR STYLE CATALOGUE
***********************************/

body {
    margin: 0px;
}

.main-ajoutCatalogue > h1 {
    text-align: left;   
}

.main-ajoutCatalogue > section > div > h2 {
    padding-top: 30px;
    text-align: center;
}

.main-ajoutCatalogue > section > div {
    background-color:#EBEEF2;
    Width : 1198px;
    Height : 500px;
    align-items: center; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

#submit {
    padding: 15px 100px;
    margin: 10px 4px;
    cursor: pointer;
    text-transform: uppercase;
    display: row;
    justify-content: center;
    background-color: #080854;
    color:white;
    border: 1px solid #000000;
    border-radius: 10px;
}

#submit:hover {
    opacity: 0.5;
}

input[type=text], input[type=password]{
    padding: 10px 10px;
    width: 20%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    box-sizing: border-box;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

a {
    font-family: 'sniglet';
}

/***********************************
Body POUR STYLE PANIER
***********************************/


.main_panier>div>h2{
    color: #080854;
}

.recap>section>form>button, .recap>form>button{
    color: #ffffff;
    margin: 10px;
    font-family: 'sniglet';
}

.panier{
    width: 3.5em;
}

.main>div>section{
    display: flex;
}

.main_panier{
    display: flex;
}

.recap>hr, .recap>section>hr{
    width: 90%;
    background-color: #D9D9D9;
    border: 0.5px solid #D9D9D9;
    border-radius: 5px;
    margin-bottom: 20px;
}

.div-panier{
    width: 70%;
    margin: 40px;
}

.div-panier>hr{
    width: 100%;
}

.div-panier>section{
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}

.div-panier>section>aside{
    background-color: #0a70b8b2;
    border-radius: 10px;
    padding: 1px 50px;
    text-align: left;
    color: #ffffff;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4)
}

.div-panier>section>article{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.4);
}

.div-panier>section>article>aside{
    display: flex;
    flex-direction: column;
}

.div-panier>section>article>aside>h3{
    margin: 5px auto;
    font-family: 'montserrat';
}

.div-panier>section>article>aside>h5{
    color: #080854;
    margin: 0px;
}

.val{
    margin-bottom: 5px;
    color: #080854;
}

.custom-select{
    margin: 0px 90px 70px 90px;
    border-radius: 10px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.4);
    padding: 5px;
    color: #080854;
}

.recap{
    width: 20%;
    margin: 40px 60px;
    position: sticky;
    top: 20px;
}

.recap>section{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    font-family: 'montserrat';
}

.recap>section>article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
}

.recap>section>article>aside>h5{
    font-family: 'sniglet';
}

.recap>section>form{
    text-align: center;
}

.recap>section>form>button{
    width: 80%;
    background-color: #0869C8;
    border-radius: 10px;
    border: none;
    padding: 15px 10px;
}

.recap>form{
    text-align: center;
    margin-top: 20px;
}

.recap>form>button{
    width: 50%;
    border-radius: 10px;
    background-color: #080854;
    padding: 10px 10px;
}

.recap>section>article>h3{
    font-family: 'carter';
    color: #080854;
}

.prix{
    color: #CB333B;
    font-family: 'carter';
}

.photo-prod{
    height: 150px;
}

.stock{
    display: flex;
    align-items: center;
}

.stock>img{
    width: 5em;
}

.coloGris{
    color: #615757;
}

.suppr{
    color: #CB333B;
    align-content: flex-end;
}

/***********************************
Body POUR STYLE INSCRIPTION ET CONNEXION
***********************************/

.main-inscription, .main-connexion {
    padding-bottom:5vh;
    text-align: center;
}

.container_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.txt_prevention {
    padding: 1em 40em;
    font-family: sans-serif;
    font-size: 0.9em;
}

.se_connecter {
    padding-left: 0.5em;
    text-decoration: underline;
}

.formulaire {
    font-size:1.1em;
}

.deja_inscrit {
    font-family: 'sniglet';
}

.btn-inscrire, .btn-connecter {
    font-family: 'sniglet';
    font-size: 1.3em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-inscrire:hover, .btn-connecter:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

/***********************************
Body POUR STYLE PRODUIT
***********************************/

/*Infos:
///////////////////////////////////////////////////////////////////*/

.main_produit>section>h1{
    font-family: 'montserrat';
    color: #080854;
}

.main_produit>section>div{
    display: flex;
    align-items: center;
}

.main_produit>section>div>aside>img{
    width: 100%;
    border-radius: 10px;
}

.infos{
    margin-top: 1%;
}

.infos>aside{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.main_produit>section>div>article>aside>div{
    width: 25%;
}

.main_produit>section>div>article>aside>div>div{
    display: flex;
    align-items: center;
}

.quantite{
    border-radius: 10px;
    height: 100%;
    padding: 5%;
    margin-left: 7px;
}

.infos>aside>div>h2{
    color: #080854;
}

.infos>aside>div>h4{
    font-family: 'sniglet';
    color: #B1B2AF;
}

.infos>aside>div>div>h5{
    color: #615757cc;
}

.infos>aside>form{
    width: 60%;
    text-align: center;
}

.ajout{
    background-color: #0869C8;
    color: #fff;
    border: #0869C8;
    padding: 5% 15%;
    border-radius: 10px;
}

.infos>p, .carte_commentaire>p{
    font-family: 'sniglet';
}

.infos>div>p{
    font-family: 'sniglet';
    color: #615757cc;
}

.logo_infos{
    width: 12%;
}

.main_produit>section>div>article>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Commentaires:
///////////////////////////////////////////////////////////////////*/

/*de là*/



.carte_commentaire
{
    border-radius: 10px;
    padding: 30px;
}

.font
{
    width: 30px;
    height: 60px;
}

/*
.fonts
{
    width: 20px;
    height: 20px;
}
*/

.carte_commentaire--bloc
{
    display: flex;
    justify-content: left;
    display: inline-flex;
    align-items: center;
}

.carte_commentaire--bloc h2
{
    margin-left: 10px;
    margin-right: 10px;
}

.carte_commentaire--bloc+p
{
    padding: 0 20px;
}

.carte_commentaire--bloc+p+a
{
    color: #CB333B;
    float: right;
    margin-top: 5px;
}

/*à là*/

.main_produit>section{
    margin: 0px 10%;
}

.commentaires>aside{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.commentaires>aside>h3{
    font-family: 'montserrat';
}

/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
.fa-star {
    color: gray;
    /*cursor: pointer;*/
    padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
	color: #ffdc0f;
}

/* Le groupe '.stars' positionne les étoiles
        les unes à côté des autres sans espacements. */
.stars {
    display: inline-flex;
    justify-content: center;
    font-size: 1em;
}

/**
    * Et là opère la magie du ':hover' !
    */

/* A l'état :hover sur le parent '.rating',
        on force TOUTES les étoiles à passer en jaune. */
/*
.stars:hover .fa-star {
    color: #ffdc0f;
}
*/
/* Et si la souris survole une étoile en particulier,
        on sélectionne toutes les étoiles qui sont APRÈS celle-ci
        grâce à l'opérateur '~' et on les force en GRIS */
/*
.stars .fa-star:hover ~ .fa-star {
    color: gray;
}
*/
.commentaires>aside>select{
    border-radius: 10px;
    height: 2em;
}

.infos, .carte_commentaire{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 5% 10%;
    padding: 2% 5%;
}

.commentaires>article>aside{
    display: inline-flex;
    align-items: center;
}

.commentaires>article>aside>h2{
    margin: 7%;
    color: #080854;
}

.signaler{
    color: #CB333B;
    float: right;
    font-family: 'montserrat';
}

/*////////////////////////////////////////////////////////////////////
Footer:
///////////////////////////////////////////////////////////////////*/

footer {
    background-color: #080854;
    color: white;
    font-family: 'sniglet';
    font-weight: lighter;
}

footer>section {
    background: #0b7dda;
    color: white;
    display: flex;
    justify-content: space-around;
}

footer>figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 0 10px;
}

footer>figure>img {
    width: 5em;
    margin-right: 20px;
    filter: invert(100%);
}


footer>figure>figcaption {
    font-size: 2em;
}

.gcbr {
    padding-right: 5em;
}